.navbar {
  max-height: 80px;
  background-color: #000;
  color: #fff;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  justify-content: center;
}

.navbar__wrapper {
  display: flex;
  justify-content: space-between;
  width: 73rem;
}

.navbar__right {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.navbar__lang {
  display: flex;
}

.navbar__links {
  display: flex;
  gap: 2rem;
}

.navbar__links>li>a {
  color: #fff;
  font-size: 1.2rem;
}

.navbar__links>li>a:hover {
  text-decoration: underline;
}

.navbar__brand {
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
}

.navbar__small {
  font-size: 0.45rem;
}

.navbar__left {
  display: flex;
  gap: 4.5rem;
  align-items: center;
}

.navbar__phone-num {
  font-size: 1.1rem;
}

.navbar__menu-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.navbar__menu-btn>img {
  width: 15px;
}

.navbar__menu {
  font-size: 1.2rem;
}

.navbar__lang {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}